dqn/models_1/*
dqn+sum_tree/models/*
dueling_dqn/models/*
dueling_dqn/models_1/*

dqn/.ipynb_checkpoints
dqn/.mypy_cache
dqn/__pycache__
dqn/eval_*/
dqn/models/
dqn/saved_models/

dqn+sum_tree/.ipynb_checkpoints
dqn+sum_tree/.mypy_cache
dqn+sum_tree/__pycache__
dqn+sum_tree/eval_*/
dqn+sum_tree/models/
dqn+sum_tree/saved_models/

dueling_dqn/.ipynb_checkpoints
dueling_dqn/.mypy_cache
dueling_dqn/__pycache__
dueling_dqn/eval_*/
dueling_dqn/models/
dueling_dqn/saved_models/

dueling_dqn/tmp_eval_frames/*